.btn {
    margin-top: 10px;
    margin-left: 10px;
}

.giphyDisplay {
    display: inline-block;
    padding: 10px;
}

.submitButton {
    margin-top: 5px;
}

.actualGif {
    border: 2px blue solid;
}


